@use "./base.scss";

// put your custom CSS here!

@font-face {
  font-family: 'AAGREMYN';
  src: url('static/fonts/AAGREMYN_FIXED.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ASOMTAVR';
  src: url('static/fonts/ASOMTAVR_FIXED.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTAVRULI';
  src: url('static/fonts/BPG_NINO_MTAVRULI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6,
thead {
    font-family: 'AAGREMYN';
    font-size: 5rem;
}

.folder-button, a {
    font-family: 'MTAVRULI' !important;
}

a.internal {
    // top | right | bottom | left
    padding: .2rem .1rem 0 .1rem;
}

.page-title a {
    font-family: 'ASOMTAVR' !important;
    font-size: 3rem; 
}

// body,
// section {
//     // font-size: 1rem;
// }
